# Ignore log files
logs/*.log

# Ignore local systemd service files, but allow services in the repo
# This prevents ignoring `services/*.service` inside the repo
!/services/*.service

# Ignore environment variables file with sensitive paths
config/webhook_env
/etc/default/webhook_env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore IDE/editor config files
.vscode/
.idea/

