[Unit]
Description=ngrok Service
After=network.target

[Service]
ExecStart=/usr/local/bin/ngrok http 5000
WorkingDirectory=/home/<Your User>/projects/webhook_listener
Restart=always
User=<Your User>
Group=<Your Group>
StandardOutput=append:<Your Project folder>/logs/ngrok.log
StandardError=append:<Your Project folder>/logs/ngrok_error.log

[Install]
WantedBy=multi-user.target
