[Unit]
Description=ngrok Service
After=network.target

[Service]
ExecStart=/usr/local/bin/ngrok http 5000
WorkingDirectory=/home/%u/webhook_listener
Restart=always
User=%u
Group=%u
StandardOutput=append:logs/ngrok.log
StandardError=append:logs/ngrok.log

[Install]
WantedBy=multi-user.target

