[Unit]
Description=ngrok Service
After=network.target

[Service]
ExecStart=/usr/local/bin/ngrok http 5000
WorkingDirectory=%h/webhook-automation
Restart=always
User=%u
Group=%u
StandardOutput=append:%h/webhook-automation/logs/ngrok.log
StandardError=append:%h/webhook-automation/logs/ngrok_error.log

[Install]
WantedBy=multi-user.target

