[Unit]
Description=Webhook Listener Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 %h/webhook-automation/webhook_listener.py
WorkingDirectory=%h/webhook-automation
Restart=always
User=%u
Group=%u
StandardOutput=append:%h/webhook-automation/logs/webhook.log
StandardError=append:%h/webhook-automation/logs/webhook_error.log

[Install]
WantedBy=multi-user.target

